.jit-forcedirected {
	-moz-box-shadow:	0 0 3px 1px #444;
	-webkit-box-shadow:	0 0 3px 1px #444;
	box-shadow:	0 0 3px 1px #444;
	
	-moz-border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	border-radius: 3px 3px;
	
	background-color: #b4d6ac;
	background-image: -moz-linear-gradient(-45deg, #d3e7ce, #9fcb95, #d3e7ce);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, #9fcb95, #8bc07e, #d3e7ce);
	background-image: -webkit-linear-gradient(-45deg, #d3e7ce, #9fcb95, #d3e7ce);
	background-image: -o-linear-gradient(-45deg, #d3e7ce, #9fcb95, #d3e7ce);
}

.jit-forcedirected .node {
	border: none;
	margin: 0;
	padding: 0;
}

.tip {
	background-color: #fefbf4;
	background-image: -moz-linear-gradient(-45deg, #fefbf4, #fcf4e5, #fefbf4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, #fefbf4, #fcf4e5, #fefbf4);
	background-image: -webkit-linear-gradient(-45deg, #fefbf4, #fcf4e5, #fefbf4);
	background-image: -o-linear-gradient(-45deg, #fefbf4, #fcf4e5, #fefbf4);
	
	-moz-box-shadow:	0 0 2px 0px #444;
	-webkit-box-shadow:	0 0 2px 0px #444;
	box-shadow:	0 0 2px 0px #444;
	
	-moz-border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	border-radius: 3px 3px;
	
	padding: 0.5em;
}