/** tools menu **/

ul.ibtools_nav_menu,
.block ul.ibtools_nav_menu,
.item-list ul.ibtools_nav_menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.ibtools_nav_menu_item,
.block li.ibtools_nav_menu_item,
.item-list li.ibtools_nav_menu_item {
	list-style: none;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(#ffffff, #ebebeb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
	background-image: -webkit-linear-gradient(#ffffff, #ebebeb);
	margin: 0;
	padding: 0;
}

li.ibtools_nav_menu_item:hover,
.block li.ibtools_nav_menu_item:hover,
.item-list li.ibtools_nav_menu_item:hover {
	background-color: #f2f2f2;
	background-image: -moz-linear-gradient(#fbfbfb, #e7e7e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#e7e7e7));
	background-image: -webkit-linear-gradient(#fbfbfb, #e7e7e7);
}

li.ibtools_nav_menu_item a,
.block li.ibtools_nav_menu_item a,
.item-list li.ibtools_nav_menu_item a {
	display: block;
	padding: 12px;
	margin-right: 3px;
	background-image: url(../../../themes/ibp_theme/images/arrow_right_blue.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

li.ibtools_nav_menu_item.expanded,
.block li.ibtools_nav_menu_item.expanded,
.item-list li.ibtools_nav_menu_item.expanded {
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(#ebebeb, #fafafa);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#fafafa));
	background-image: -webkit-linear-gradient(#ebebeb, #fafafa);
	border-top: 1px solid #ffffff;
	border-bottom: 2px solid #ececec;
}

li.ibtools_nav_menu_item.expanded a,
.block li.ibtools_nav_menu_item.expanded a,
.item-list li.ibtools_nav_menu_item.expanded a,
li.ibtools_nav_menu_item a.active,
.block li.ibtools_nav_menu_item a.active,
.item-list li.ibtools_nav_menu_item a.active {
	color: #919191;
	background-color: transparent;
	background-image: url(../../../themes/ibp_theme/images/arrow_down_grey.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.ibtools_nav_submenu,
.block ul.ibtools_nav_submenu,
.item-list ul.ibtools_nav_submenu {
	text-align: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

li.ibtools_nav_submenu_item,
.block li.ibtools_nav_submenu_item,
.item-list li.ibtools_nav_submenu_item {
	list-style: none;
	background-color: transparent;
	background-image: none;
	margin: 0;
	padding: 0;
}

li.ibtools_nav_submenu_item:hover,
.block li.ibtools_nav_submenu_item:hover,
.item-list li.ibtools_nav_submenu_item:hover {
	background-color: #eaeaea;
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eaeaea));
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
}

li.ibtools_nav_submenu_item a,
.block li.ibtools_nav_submenu_item a,
.item-list li.ibtools_nav_submenu_item a {
	display: block;
	background-color: transparent;
	background-image: none;
	padding: 12px 15px 12px 9px;
	margin-right: 3px;
}

li.ibtools_nav_submenu_item,
.block li.ibtools_nav_submenu_item,
.item-list li.ibtools_nav_submenu_item {
	background-color: transparent;
	background-image: none;
	border-top: 1px solid #ffffff;
}

.ibtools_nav_menu_item li.ibtools_nav_submenu_item a,
.ibtools_nav_menu_item .block li.ibtools_nav_submenu_item a,
.ibtools_nav_menu_item .item-list li.ibtools_nav_submenu_item a {
	color: #00A3F7;
	background-image: url(../../../themes/ibp_theme/images/arrow_right_grey.png);
}

li.ibtools_nav_submenu_item.expanded,
.block li.ibtools_nav_submenu_item.expanded,
.item-list li.ibtools_nav_submenu_item.expanded {
	background-color: #319af3;
	background-image: -moz-linear-gradient(#36a1fc, #2b91e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#36a1fc), to(#2b91e7));
	background-image: -webkit-linear-gradient(#36a1fc, #2b91e7);
}

li.ibtools_nav_submenu_item.expanded a,
.block li.ibtools_nav_submenu_item.expanded a,
.item-list li.ibtools_nav_submenu_item.expanded a {
	color: #ffffff;
	background-image: url(../../../themes/ibp_theme/images/arrow_right_white.png);
}

/** training menu **/

ul.ibp_training_menu,
.block ul.ibp_training_menu,
.item-list ul.ibp_training_menu,
ul.ibp_training_menu li,
.block ul.ibp_training_menu li,
.item-list ul.ibp_training_menu li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.ibp_training_menu li {
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(#ffffff, #ebebeb);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
	background-image: -webkit-linear-gradient(#ffffff, #ebebeb);
}

ul.ibp_training_menu li:hover {
	background-color: #f2f2f2;
	background-image: -moz-linear-gradient(#fbfbfb, #e7e7e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#e7e7e7));
	background-image: -webkit-linear-gradient(#fbfbfb, #e7e7e7);
}

ul.ibp_training_menu li a {
	display: block;
	padding: 12px;
	margin-right: 3px;
	background-image: url(../../../themes/ibp_theme/images/arrow_right_blue.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

ul.ibp_training_menu li.active {
	background-color: #319af3;
	background-image: -moz-linear-gradient(#36a1fc, #2b91e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#36a1fc), to(#2b91e7));
	background-image: -webkit-linear-gradient(#36a1fc, #2b91e7);
}

ul.ibp_training_menu li.active a {
	color: #ffffff;
	background-image: url(../../../themes/ibp_theme/images/arrow_right_white.png);
}