.view-clade-forum-summary.clade-context .views-field-name,
.view-clade-post-summary.clade-context .views-field-name,
.view-ibp-projects-summary.clade-context .views-field-tid,
.view-clade-biblio-summary.clade-context .views-field-name {
	display: none;
}

.view-clade-forum-summary .views-row,
.view-clade-post-summary .views-row,
.view-ibp-projects-summary .views-row,
.view-clade-biblio-summary .views-row,
.view-community-latest-comments .views-row {
	position: relative;
	clear: both;
	padding: 12px 0;
	-moz-border-image: url(../images/dot-border.png) 4 4 repeat;
	-o-border-image: url(../images/dot-border.png) 4 4 repeat;
	-webkit-border-image: url(../images/dot-border.png) 4 4 repeat;
	border-image: url(../images/dot-border.png) 4 4 repeat;
	border-width: 0 0 4px 0;
}

.view-clade-forum-summary .views-row:last-child,
.view-clade-post-summary .views-row:last-child,
.view-ibp-projects-summary .views-row:last-child,
.view-clade-biblio-summary .views-row:last-child,
.view-community-latest-comments .views-row:last-child {
	border-width: 0;
	-moz-border-image: none;
	-o-border-image: none;
	-webkit-border-image: none;
	border-image: none;
}

.view-clade-forum-summary .views-row:after,
.view-clade-post-summary .views-row:after,
.view-ibp-projects-summary .views-row:after,
.view-clade-biblio-summary .views-row:after,
.view-community-latest-comments .views-row:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0px;
}

.view-clade-forum-summary .views-row > div,
.view-clade-post-summary .views-row > div,
.view-ibp-projects-summary .views-row > div,
.view-clade-biblio-summary .views-row > div,
.view-community-latest-comments .views-row > div {
	float: left;
}

.view-clade-forum-summary .views-field-name,
.view-clade-post-summary .views-field-name,
.view-ibp-projects-summary .views-field-tid,
.view-clade-biblio-summary .views-field-name {
	font-size: 12px;
	text-transform: uppercase;
	width: 74px;
	padding-right: 5px;
	border-color: #cccccc;
	border-style: solid;
	border-width: 0 1px 0 0;
}

.view-clade-forum-summary .views-field-title {
	width: 530px;
	padding: 0 10px 0 10px;
}

.view-clade-post-summary .views-field-title {
	width: 400px;
	padding: 0 10px 0 10px;
}

.view-ibp-projects-summary .views-field-title {
	width: 340px;
	padding: 0 10px 0 10px;
}

.view-clade-forum-summary.clade-context .views-field-title {
	width: 620px;
	padding: 0 10px 0 0;
}

.view-clade-post-summary.clade-context .views-field-title {
	width: 490px;
	padding: 0 10px 0 0;
}

.view-community-latest-comments .views-field-subject {
	width: 570px;
	padding: 0 10px 0 0;
}

.view-ibp-projects-summary.clade-context .views-field-title {
	width: 430px;
	padding: 0 10px 0 0;
}

.view-clade-post-summary .views-field-name-1,
.view-community-latest-comments .views-field-name,
.view-ibp-projects-summary .views-field-ibp-project-pi-uid,
.view-ibp-projects-summary .views-field-ibp-project-pi-text-value {
	color: #888888;
	width: 120px;
	font-size: 12px;
	padding-right: 10px;
}

.view-ibp-projects-summary .views-field-ibp-project-pi-uid,
.view-ibp-projects-summary .views-field-ibp-project-pi-text-value {
	padding-right: 0;
}

.view-ibp-projects-summary .views-field-ibp-project-collaborators-uid,
.view-ibp-projects-summary .views-field-ibp-project-collaborators-text-value {
	color: #888888;
	font-size: 12px;
	width: 65px;
	padding-right: 5px;
}

.view-ibp-projects-summary .views-field-ibp-project-number-value,
.view-clade-post-summary .views-field-comment-count,
.view-clade-forum-summary .views-field-comment-count {
	font-size: 12px;
	width: 50px;
	padding-left: 9px;
	border-color: #cccccc;
	border-style: solid;
	border-width: 0 0 0 1px;
}

.view-clade-forum-summary .views-field-name a,
.view-clade-post-summary .views-field-name a,
.view-clade-biblio-summary .views-field-name a {
	color: #888888;
	font-weight: bold;
}

.view-clade-forum-summary .views-field-name a:hover,
.view-clade-post-summary .views-field-name a:hover,
.view-ibp-projects-summary .views-field-tid a:hover,
.view-clade-biblio-summary .views-field-name a:hover {
	color: #aaaaaa;
}

.view-clade-forum-summary .views-field-title,
.view-clade-post-summary .views-field-title,
.view-ibp-projects-summary .views-field-title {
	font-weight: bold;
}

.view-clade-forum-summary .views-field-comment-count .has-comments,
.view-clade-post-summary .views-field-comment-count .has-comments {
	color: #00A3F7;
	background-image: url(../images/forum-new.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	display: block;
	text-align: right;
}

.view-clade-forum-summary .views-field-comment-count .no-comments,
.view-clade-post-summary .views-field-comment-count .no-comments {
	color: #00A3F7;
	background-image: url(../images/forum-default.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	display: block;
	text-align: right;
}

.view-clade-forum-summary .view-content,
.view-clade-post-summary .view-content,
.view-ibp-projects-summary .view-content,
.view-community-latest-comments .view-content {
	margin: 0 0 12px;
	border-bottom: 2px solid #cccccc;
}

.pane-clade-forum-summary-panel-pane-1 h2.pane-title,
.pane-clade-post-summary-panel-pane-1 h2.pane-title,
.pane-ibp-projects-summary-panel-pane-1 h2.pane-title,
.pane-clade-biblio-summary-panel-pane-1 h2.pane-title,
.pane-community-latest-comments-panel-pane-1 h2.pane-title {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0 0 15px;
}

.pane-clade-forum-summary-panel-pane-1 h2.pane-title {
	background-image: url(../images/forum-icon.png);
}

.pane-clade-post-summary-panel-pane-1 h2.pane-title {
	background-image: url(../images/blog-icon.png);
}

.pane-community-latest-comments-panel-pane-1 h2.pane-title {
	background-image: url(../images/blog-icon.png);
}

.pane-ibp-projects-summary-panel-pane-1 h2.pane-title {
	background-image: url(../images/project-icon.png);
}

.pane-clade-biblio-summary-panel-pane-1 h2.pane-title {
	background-image: url(../images/book-icon.png);
}


.view-ibp-projects-summary .item-list,
.view-ibp-projects-summary .item-list ul,
.view-ibp-projects-summary .item-list ul li {
	display: inline;
	padding: 0;
	margin: 0;
}

.view-ibp-projects-summary .item-list ul,
.view-ibp-projects-summary .item-list ul li {
	list-style: none;
}

.view-ibp-projects-summary .item-list ul li a {
	color: #888888;
	font-weight: bold;
}

.views-field-ibp-project-number-value,
.views-field-ibp-project-collaborators-uid {
	color: #888888;
}

.views-field-ibp-project-number-value .field-content:before {
	content: "#";
}

.view-clade-biblio-summary .biblio-entry {
	width: 592px;
	padding: 0 10px;
}

.view-clade-biblio-summary .biblio-export-buttons,
.view-clade-biblio-summary .links {
	display: none;
}