#top-bar {
	text-shadow: -1px -1px 1px #333333;
	font-size: 12px;
	height: 42px;
	background-color: #555555;
	border-color: #141414;
	border-style: solid;
	border-width: 0px 1px 1px;
	-moz-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 0 1px 1px;
}

#top-bar ul,
#top-bar ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#top-bar ul.loginlinks > li {
	float: left;
	height: 42px;
	background-color: #505050;
	background-image: url(../images/top-bar-bg.png);
	background-repeat: repeat-x;
	background-position: bottom center;
	background-image: -ms-linear-gradient(#555, #444);
	background-image: -moz-linear-gradient(#555, #444);
	background-image: -o-linear-gradient(#555, #444);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#444));
	background-image: -webkit-linear-gradient(#555, #444);
	background-image: linear-gradient(#555, #444);
	border-color: #292929 #292929 #292929 #606060;
	border-style: solid;
	border-width: 0 1px 0 1px;
}

#top-bar ul.loginlinks > li.first {
	border-width: 0 1px 0 0;
}

#top-bar ul.loginlinks > li.last {
	border-width: 0 0 0 1px;
}

#top-bar .loginstatus {
	color: #919191;
	padding: 12px 12px 12px 16px;
	background-image: url(../images/lock.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	line-height: 18px;
	margin: 0 6px 0 18px
}

#top-bar .login-link {
	padding: 12px 18px;
	display: block;
	line-height: 18px;
}

#top-bar .loginstatus strong {
	color: #efefef;
}

#my-links .item-list {
	padding: 0;
	margin: 0;
}

#my-links h3 {
	display: block;
	font-weight: normal;
	font-size: 12px;
	color: #00a3f7;
	cursor: pointer;
	padding: 6px 16px 12px;
	margin: 6px 0 0 0;
	line-height: 18px;
}

#my-links h3:after {
	content: url(../images/arrow_down_blue.png);
	position: relative;
	left: 6px;
}

#my-links .item-list {
	display: none;
	position: absolute;
	top: 44px;
	z-index: 100000;
	overflow: hidden;
	padding: 0 6px 6px;
	margin: 0 -6px -6px;
}

#my-links .item-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #5a5a5a;
	background-image: url(../images/my-links-bg.png);
	background-repeat: repeat-x;
	background-position: bottom center;
	background-image: -ms-linear-gradient(#494949, #5a5a5a);
	background-image: -moz-linear-gradient(#494949, #5a5a5a);
	background-image: -o-linear-gradient(#494949, #5a5a5a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494949), to(#5a5a5a));
	background-image: -webkit-linear-gradient(#494949, #5a5a5a);


	background-image: linear-gradient(#494949, #5a5a5a);
	-moz-box-shadow: 1px 1px 1px #000000;
	-webkit-box-shadow: 1px 1px 1px #000000;
	box-shadow: 0px 0px 6px #000000;
}

#my-links .item-list ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#my-links .item-list ul li a {
	display: block;
	padding: 3px 16px;
}

#my-links .item-list ul li a:hover {
	background-color: #6a6a6a;
}

#my-links.my-links-visible h3 {
	padding: 6px 16px 14px;
	background-color: #5a5a5a;
	background-image: url(../images/my-links-bg.png);
	background-repeat: repeat-x;
	background-position: top center;
	background-image: -ms-linear-gradient(#353535, #494949);
	background-image: -moz-linear-gradient(#353535, #494949);
	background-image: -o-linear-gradient(#353535, #494949);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#353535), to(#494949));
	background-image: -webkit-linear-gradient(#353535, #494949);
	background-image: linear-gradient(#353535, #494949);
	
	-moz-box-shadow: 1px 1px 1px #000000;
	-webkit-box-shadow: 1px 1px 1px #000000;
	box-shadow: 1px 1px 1px #000000;
	
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#search-box {
	background-color: #505050;
	background-image: url(../images/top-bar-bg.png);
	background-repeat: repeat-x;
	background-position: bottom center;
	background-image: -ms-linear-gradient(#555, #444);
background-image: -moz-linear-gradient(#555, #444);
background-image: -o-linear-gradient(#555, #444);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#444));
background-image: -webkit-linear-gradient(#555, #444);


background-image: linear-gradient(#555, #444);

	padding: 8px 12px 8px 0;
}

#search-box .form-item {
	margin: 0;
	padding: 0;
}

#search-box input[type=text] {
	border: 0;
	margin: 0;
	background: #ffffff;
	float: left;
	font-size: 12px;
	height: 24px;
	width: 128px;
	line-height: 24px;
	padding-left: 6px;
	-moz-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

#search-box input.default {
	color: #999999;
	font-style: italic;
}

#search-box input[type=submit] {
	border: 0;
	margin: 0;
	background: white;
	background-image: url(../images/search.png);
	filter: none;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
	height: 26px;
	color: transparent;
	font-size: 0px;
	text-indent: -9999em;
	float: right;
	-moz-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

a#back-to-top {
	display: block;
	font-size: .85em;
	float: right;
	margin-right: 3px;
	padding: 6px 24px 6px 12px;
	background-color: #feeff4;
  background-image: url(../images/arrow_up_blue.png);
  background-repeat: no-repeat;
  background-position: 92% 50%;
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: #edebe6;
	-moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.item-list ul,
.item-list ul li,
#page-bottom ul.menu,
#page-bottom ul.menu li {
	padding: 0 0 0 16px;
	list-style-type: circle;
	list-style-image: url(../images/arrow_right_grey.png);
}

.item-list ul li,
#page-bottom ul.menu li {
	padding: 0;
}

#page-bottom ul.menu li ul {
	display: none;
}

form#ibphelper-my-pages-form {
	position: absolute;
	top: 50%;
	right: 18px;
	margin-top: -10px;
	line-height: 10px;
	height: 10px;
}

input.ibphelper-my-pages-add,
input.ibphelper-my-pages-remove {
	background-color: #ffffff;
	border: none;
	background-repeat: no-repeat;
	background-position: 3px 60%;
	padding: 3px 3px 3px 15px;
	-moz-box-shadow: inset 1px 1px 2px #d7d7d7;
	-webkit-box-shadow: inset 1px 1px 2px #d7d7d7;
	box-shadow: inset 1px 1px 2px #d7d7d7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	color: #00a3f7;
	font-size: 11px;
	cursor: pointer;
	text-shadow: none;
	filter: none;

}

input.ibphelper-my-pages-add,
input.ibphelper-my-pages-add:hover {
	background-color: #ffffff;
	background-image: url(../images/add.png);
}

input.ibphelper-my-pages-remove,
input.ibphelper-my-pages-remove:hover {
	background-color: #ffffff;
	background-image: url(../images/remove.png);
}

ul.ibp-my-pages,
ul.ibp-my-pages li {
	list-style-type: circle;
	list-style-image: url(../images/arrow_right_grey.png);
}

h2.clade-page-mini-form-title {
	color: #3e3e3e;
}

.block h2.title {
	color: #888888;
}

#block-clade-4 h2,
#block-clade-4 h2 a {
	color: #888888;
}

#block-clade-4 li h3 {
	font-weight: normal;
	margin: 0 0 1px 0;
	color: #888888;
}

#block-clade-4 .item-list {

}

.clade-join {
	color: #8e8e8e;
	background-color: #ececec;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	word-spacing: -1px;
}

.clade-join-message {
	line-height: 46px;
	margin: 0px 0px 0px 12px;
	float: left;
}

.clade-join-link {
	float: right;
	line-height: 32px;
	padding: 0px 12px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: -1px -1px 1px #3e3e3e;
	margin: 8px 12px 8px 0px;
	background-color: #3199f2;
	background-image: -ms-linear-gradient(#36a1fc, #2b91e7);
	background-image: -moz-linear-gradient(#36a1fc, #2b91e7);
	background-image: -o-linear-gradient(#36a1fc, #2b91e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#36a1fc), to(#2b91e7));
	background-image: -webkit-linear-gradient(#36a1fc, #2b91e7);


	background-image: linear-gradient(#36a1fc, #2b91e7);

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

ul.nostyle,
ul.nostyle li {
	margin: 0;
	padding: 0;
	list-style: none;
}

span.read-more a:after {
	content: " \2192";
}

.clade-community-feed-item,
.view-training .views-row,
.view-clade-posts .views-row {
	margin: 0 0 1.5em 0;
	padding: 0 0 1.5em 0;
	border-color: #cacaca;
	border-style: solid;
	border-width: 0 0 1px 0;
}

.clade-community-feed-item:last-child,
.view-training .views-row:last-child,
.view-clade-posts .views-row:last-child {
	padding: 0;
	border-width: 0px;
}

.teaser-comments-container {
	margin: 1em 0 0 0 !important;
}

ul.links.inline li {
	padding: 0;
}

ul.links.inline li:after {
	content: "| ";
	color: #cacaca;
}

ul.links.inline li a {
	padding: 0 6px 0 0;
}

ul.terms.links li {
	padding: 0 0 0 16px;
	background-image: url(../images/tag.png);
	background-repeat: no-repeat;
	background-position: left center;
}

a.edit-link {
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	color: #888888;
}

a.edit-link:hover {
	color: #00a3f7;
}

body.cke_show_borders,
body.cke_panel_frame {
	background-image: none;
	background-color: #ffffff;
}

.item-list ul li.clade-manager {
	line-height: 24px;
	margin: 0 0 3px 0;
}

.clade-manager img,
.clade-manager a,
.clade-manager span {
	margin: 0 3px 0 0;
	padding: 0;
	vertical-align: middle;
}

a.external-link {
	background-image: url(../images/external-link.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding: 0 16px 0 0;
}

#fancybox-title.fancybox-title-inside,
#fancybox-title.fancybox-title-float,
#fancybox-title.fancybox-title-over {
	font-size: 18px;
}

#fancybox-title.fancybox-title-over {
	text-shadow: 1px 1px 0px #000000;
}

#autocomplete {
	width: auto !important;
}

#autocomplete li {
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
}

#autocomplete li:nth-child(2n) {
	background-color: #efefef;
}

#autocomplete li.selected:nth-child(2n) {
	background-color: #0072B9;
}

#autocomplete li:last-child {
	border-bottom: none;
}

.fancybox-title-ibp-float {
	min-width: 300px;
	padding: 6px 12px;
	background-color: black;
	color: white;
	border: 2px solid white;
	box-shadow: 3px 3px 6px #666;
}

.field-field-file-attachment .filefield-file {
	padding: 8px 0;
	margin-bottom: 0.25em;
	-moz-border-image: url(../images/dot-border.png) 4 4 repeat;
	-o-border-image: url(../images/dot-border.png) 4 4 repeat;
	-webkit-border-image: url(../images/dot-border.png) 4 4 repeat;
	border-image: url(../images/dot-border.png) 4 4 repeat;
	border-width: 0 0 4px 0;
}

.field-field-file-attachment .field-label {
	font-size: 16px;
	color: #3E3E3E;
	border-bottom: 1px solid #CECECE;
	text-shadow: -1px -1px 0 white;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.field-field-file-attachment .filefield-file img {
	float: left;
}

.field-field-file-attachment .filefield-file a {
	line-height: 32px;
}