/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

body.admin-menu {
}

#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 994px;
}

#page {
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0 0 -22px 0;
  padding: 0;
}

.region-header {
  clear: both; /* Clear the logo */
}

#messages-wrapper {
	position: relative;
}

#main-topper {
	position: relative;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
	position: relative;	/* This fixes the IE7 overflow hidden bug */
	clear: both;
	width: 992px;			/* width of whole page */
	overflow: hidden;		/* This chops off any overhanging divs */
}

.maintenance_page #columns {
	min-height: 200px;
}

#main,
#columns {
	float: left;
	width: 992px;
	position: relative;
}

#content-wrapper,
.region-sidebar-first,
.region-sidebar-second {
	float: left;
	position: relative;
	overflow: hidden;
}

/*
 * First sidebar
 */
.region-sidebar-first {
	width: 234px;
}

.region-sidebar-first .section {
  margin: 0;
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  width: 240px;
}

.region-sidebar-second .section {
  margin: 0;
  padding: 0;
}

.two-sidebars #main,
.sidebar-second #main {
	right: 240px;
}

.two-sidebars #columns {
	right: 512px;
}

.two-sidebars #content-wrapper {
	left: 992px;
	width: 512px;
}

.two-sidebars .region-sidebar-first {
	width: 234px;
	left: 240px;
}

.sidebar-second .region-sidebar-second{
	width: 234px;
	left: 994px;
}

.two-sidebars .region-sidebar-second {
	width: 234px;
	left: 760px;
}

.sidebar-first #columns,
.sidebar-second #columns {
	right: 752px;
}

.sidebar-first #content-wrapper,
.sidebar-second #content-wrapper {
	left: 992px;
	width: 752px;
}

.no-sidebars #columns {
	right: 0;
}

.no-sidebars #content-wrapper {
	left: 0;
	width: 992px;
}

.no-sidebars #main-wrapper,
.no-sidebars #content-wrapper {
	overflow: visible;
}

.no-sidebars #main,
.no-sidebars #columns,
.no-sidebars #content-wrapper {
	float: none;
}

#content {
}

#content .section {
	padding: 20px 30px;
}

/*
 * Content
 */
#content,
.no-sidebars #content {
/*
  float: left;
  position: relative;
  width: 992px;
  margin-left: 0;
  padding: 0;
*/
}

.sidebar-first #content {
/*
  width: 752px;
  margin-left: -240px;
*/
}

.sidebar-second #content {
/*
  width: 752px;
  margin-left: 0;
  margin-right: -754px;
*/
}

.two-sidebars #content {
/*
  width: 512px;
  margin-left: 240px;
  margin-right: -754px;
*/
}

.region-sidebar-second .section .block h2.title,
.region-sidebar-second .section .block div.content {
	margin-left: 15px;
}

/*
 * Navigation
 */
#navigation {
	float: left;
  width: 100%;
  position: relative;
  margin: 0;
}

#page-bottom {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #edebe6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 12px;
}

#page-bottom .section {
	padding: 25px;
}

#top-bar {
	float: right;
	position: relative;
	right: 20px;
}

#top-bar #loginlinks {
	float: left;
	margin: 0;
	padding: 0;
}

#search-box {
	float: left;
}

/*
 * Footer
 */
#footer {
	clear: both;
	text-align: center;
	margin-top: 45px;
	background-color: #f3efe4;
	padding-top: 12px;
	height: 31px;
	width: 100%;
	color: #a29a81;
	font-size: 10pt;
}

#footer .section {
}

/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/
