/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
	color: #00a3f7;
}

/*
 * Navigation bar
 */
#navigation {
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}

#navigation #block-menu-primary-links {
/*
	float: left;
  width: 100%;
*/
  padding: 0;
  margin-bottom: -1px;
}

#navigation #block-menu-primary-links ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0 5px 0 0;
  text-align: right;
  list-style: none;
}

#navigation #block-menu-primary-links li /* A simple method to get navigation links to appear in one line. */ {
  display: inline-block;
  height: 45px;
  padding: 0px 1px; /* LTR */
  margin: 0;
  list-style: none;
	text-align: center;
	border-color: transparent;
	border-style: solid;
	border-width: 1px 1px 0px;
	zoom: 1;
	*display: inline;
}

#navigation #block-menu-primary-links li.active-trail,
#navigation #block-menu-primary-links li:hover {
	border-color: #141414;
	background-color: #636363;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#navigation #block-menu-primary-links li a,
#navigation #block-menu-primary-links li.active-trail.expanded ul li a {
	color: #00a3f7;
	display: block;
  padding: 12px 12px 15px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	word-spacing: -1px;
	text-shadow: -1px -1px 1px #141414;
	position: relative;
	top: 1px;
}

#navigation #block-menu-primary-links li.active-trail a,
#navigation #block-menu-primary-links li:hover a,
#navigation #block-menu-primary-links li a:hover {
	background-color: #505050;
	background-image: url(../images/nav-bar-bg.png);
	background-repeat: repeat-x;
	background-position: top center;
	background-image: -ms-linear-gradient(#555555, #444444);
	background-image: -moz-linear-gradient(#555555, #444444);
	background-image: -o-linear-gradient(#555555, #444444);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#444444));
	background-image: -webkit-linear-gradient(#555555, #444444);
	background-image: linear-gradient(#555555, #444444);
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#navigation #block-menu-primary-links li.active-trail a {
	color: #919191;
	text-shadow: none;
}

#navigation #block-menu-primary-links li.expanded ul {
	display: none;
	position: absolute;
	left: 0;
	padding: 0 0 0 12px;
}

#navigation #block-menu-primary-links li.active-trail.expanded ul {
	display: block;
}

#navigation #block-menu-primary-links li.active-trail.expanded ul li {
  margin: 6px 1px 0px 0px; /* LTR */
  height: 37px;
  background-color: transparent;
	border: none;
}

#navigation #block-menu-primary-links li.active-trail.expanded ul li a {
  padding: 8px 8px 12px; /* LTR */
  border-color: transparent;
	border-style: solid;
	border-width: 1px 0 0 1px;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
}

#navigation #block-menu-primary-links li.active-trail.expanded ul li.active-trail a,
#navigation #block-menu-primary-links li.active-trail.expanded ul li a:hover {
	background-color: #ffffff;
	border-color: #777777;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#navigation #block-menu-primary-links li.active-trail.expanded ul li.active-trail a {
	text-shadow: none;
	color: #919191;
}

#navigation #block-menu-primary-links li.active-trail.expanded ul li a:hover {
	text-shadow: none;
}

#navigation #block-menu-primary-links li.active-trail.expanded ul li ul {
	display: none;
}

#navigation .subnavigation {
	height: 45px;
	background-color: #505050;
	background-image: url(../images/nav-bar-bg.png);
	background-repeat: repeat-x;
	background-position: bottom center;
	background-image: -ms-linear-gradient(#444444, #3f3f3f);
	background-image: -moz-linear-gradient(#444444, #3f3f3f);
	background-image: -o-linear-gradient(#444444, #3f3f3f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#3f3f3f));
	background-image: -webkit-linear-gradient(#444444, #3f3f3f);
	background-image: linear-gradient(#444444, #3f3f3f);
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border: 1px solid #141414;
	-moz-box-shadow: 0px 0px 0px 1px #636363 inset;
	-o-box-shadow: 0px 0px 0px 1px #636363 inset;
	-webkit-box-shadow: 0px 0px 0px 1px #636363 inset;
	box-shadow: 0px 0px 0px 1px #636363 inset;
}