.clade-page-image {
	float: left;
	margin: 0 1em 1em 0;
}

.clade-page-file {
	border-width: 4px 0 0 0;
	-o-border-image: url(../images/dot-border.png) 4 4 repeat;
	-moz-border-image: url(../images/dot-border.png) 4 4 repeat;
	-webkit-border-image: url(../images/dot-border.png) 4 4 repeat;
	border-image: url(../images/dot-border.png) 4 4 repeat;
	padding: 4px 0 0 0;
}

.clade-page-file:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
}

.clade-page-file .filefield-file img {
	display: block;
	float: left;
}

.clade-page-file .filefield-file a {
	line-height: 32px;
}

.clade-page-file .field-field-clade-file {
	float: left;
	width: 50%;
}

.clade-page-file .field-field-clade-file .field-label {
	display: none;
}

.clade-page-file .field-field-clade-file-source {
	float: left;
	width: 50%;
	line-height: 32px;
}

.clade-page-file .field-field-clade-file-source .field-label {
	float: left;
	color: #999999;
	margin: 0 0.25em 0 0;
}

.clade-page-image-title {
	display: none;
}

.field-field-clade-image-copyright,
.field-field-clade-image-photographer,
.field-field-clade-image-source {
	white-space: nowrap;
}

.field-field-clade-image-copyright .field-label,
.field-field-clade-image-photographer .field-label,
.field-field-clade-image-source .field-label {
	float: left;
	width: 100px;
}

.field-field-clade-image-copyright .field-items,
.field-field-clade-image-photographer .field-items,
.field-field-clade-image-source .field-items {
	margin: 0 0 0 110px;
}