.field-label,
.body-label,
.crops-label,
.keywords-label {
	font-weight: bold;
	float: left;
	margin: 0 12px 0 0;
	color: #777777;
}

.field-label:after,
.body-label:after,
.crops-label:after,
.keywords-label:after {
	content: ":";
}

.field-items,
.node-body,
.crops-items,
.keywords-items {
	color: #111111;
}

.field-ibp-project-collaborators .field-items {
	margin-left: 110px;
}

.crops .crops-items {
	margin-left: 70px;
}

.keywords .keywords-items {
	margin-left: 56px;
}

.field-ibp-project-collaborators .field-item,
.crops-item,
.keywords-item {
	display: inline;
}

.field-ibp-project-collaborators .field-item:after,
.crops-item a:after,
.keywords-item a:after {
	content: ", ";
}

.field-ibp-project-collaborators .field-item:last-child:after,
.crops-item:last-child a:after,
.keywords-item:last-child a:after {
	content: "";
}

.field,
.crops,
.keywords {
	border-width: 0 0 4px 0;
	-o-border-image: url(../images/dot-border.png) 4 4 repeat;
	-moz-border-image: url(../images/dot-border.png) 4 4 repeat;
	-webkit-border-image: url(../images/dot-border.png) 4 4 repeat;
	border-image: url(../images/dot-border.png) 4 4 repeat;
	padding: 8px 0;
}

.node-body {
	line-height: 18px;
	text-align: justify;
}

.node-body p {
	margin: 0.5em 0 1em;
}

.project-media a {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 18px 18px 0 0;
	-moz-box-shadow: 1px 1px 5px #333;
	-webkit-box-shadow: 1px 1px 5px #333;
	box-shadow: 1px 1px 5px #333;
}

.project-media span.image-desc {
	display: none;
}

.project-media a:last-child {
	margin: 18px 0 0 0;
}

.field-ibp-project-proposal-file,
.field-ibp-project-report-file,
.field-ibp-project-publication-file,
.field-ibp-project-product-file,
.field-ibp-project-dataset-file {
	border-bottom: 1px solid #cacaca;
}

.field-ibp-project-proposal-file .field-label,
.field-ibp-project-report-file .field-label,
.field-ibp-project-publication-file .field-label,
.field-ibp-project-product-file .field-label,
.field-ibp-project-dataset-file .field-label {
	display: none;
}

.field-ibp-project-proposal-file .field-item,
.field-ibp-project-report-file .field-item,
.field-ibp-project-publication-file .field-item,
.field-ibp-project-product-file .field-item,
.field-ibp-project-dataset-file .field-item {
	border-width: 0 0 4px 0;
	-o-border-image: url(../images/dot-border.png) 4 4 repeat;
	-moz-border-image: url(../images/dot-border.png) 4 4 repeat;
	-webkit-border-image: url(../images/dot-border.png) 4 4 repeat;
	border-image: url(../images/dot-border.png) 4 4 repeat;
	padding: 6px 3px;
}

.field-ibp-project-proposal-file .field-item:last-child,
.field-ibp-project-report-file .field-item:last-child,
.field-ibp-project-publication-file .field-item:last-child,
.field-ibp-project-product-file .field-item:last-child,
.field-ibp-project-dataset-file .field-item:last-child {
	-o-border-image: none;
	-moz-border-image: none;
	-webkit-border-image: none;
	border-image: none;
}

.field-ibp-project-proposal-file .field-item img,
.field-ibp-project-report-file .field-item img,
.field-ibp-project-publication-file .field-item img,
.field-ibp-project-product-file .field-item img,
.field-ibp-project-dataset-file .field-item img {
	float: left;
}

.field-ibp-project-proposal-file .field-item a,
.field-ibp-project-report-file .field-item a,
.field-ibp-project-publication-file .field-item a,
.field-ibp-project-product-file .field-item a,
.field-ibp-project-dataset-file .field-item a {
	padding: 8px 0;
	display: inline-block;
}