/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
	background-image: url(../images/ibp-background.jpg);
	background-color: #fbf9f3;
	background-attachment: scroll;
	background-position: center top;
	background-repeat: no-repeat;
}

body.admin-menu {
	background-position: center 21px;
}

#page-wrapper {
}

#page {
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
}

h1#site-name,
div#site-name /* The name of the website */ {
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	text-shadow: 2px 2px 0px #000;
	margin-bottom: 2px;
}

#site-name a:link,
#site-name a:visited,
#site-name span {
	color: #eeeeee;
  text-decoration: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
	color: #cccccc;
	text-shadow: 1px 1px 0px #000;
	font-size: 12px;
	line-height: 14px;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
	background-color: #f7f7f7;
  border-color: #edebe6;
  border-style: solid;
  border-width: 0 1px 1px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

#main {
	background-color: #ffffff;
}

.two-sidebars #main,
.sidebar-second #main {
	background-image: url(../images/sidebar-shadow-right.png);
	background-repeat: repeat-y;
	background-position: top right;
}

.two-sidebars #columns,
.sidebar-first #columns {
	background-image: url(../images/sidebar-shadow-left.png);
	background-repeat: repeat-y;
	background-position: top right;
}

#columns {
	background-color: #f7f7f7;
}

.no-sidebars #columns {
	background-color: #ffffff;
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
	color: #3E3E3E;
	margin: 0;
}

h1.title {
	background-color: #EBEBEB;
background-image: -ms-linear-gradient(#FFFFFF, #EBEBEB);
background-image: -moz-linear-gradient(#FFFFFF, #EBEBEB);
background-image: -o-linear-gradient(#FFFFFF, #EBEBEB);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EBEBEB));
background-image: -webkit-linear-gradient(#FFFFFF, #EBEBEB);


background-image: linear-gradient(#FFFFFF, #EBEBEB);
	font-size: 24pt;
	line-height: 24pt;
	padding: 14px 168px 14px 20px;
	position: relative;
	border-bottom: 1px solid #ffffff;
}

table {
	width: 100%;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
  padding: 6px;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

.sidebar-first #content {
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
	background-color: #f7f7f7;
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
	background-color: #f7f7f7;
/*
	background-image: url(../images/sidebar-shadow-left.png);
	background-repeat: repeat-y;
*/
}

.region-sidebar-second .section {
}

.region-sidebar-second .section > div {
	padding: 12px 0;
	-moz-border-image: url(../images/dot-border.png) 4 4 repeat;
	-o-border-image: url(../images/dot-border.png) 4 4 repeat;
	-webkit-border-image: url(../images/dot-border.png) 4 4 repeat;
	border-image: url(../images/dot-border.png) 4 4 repeat;
	border-width: 0 0 4px 0;
	margin-bottom: 0;
}

/*
 * Footer
 */
#footer {
	text-align: center;
	background-color: #f3efe4;
	color: #a29a81;
	font-size: 0.775em;
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

#footer-message p {
	margin: 0;
}

.region-page-bottom {
}

.region-page-bottom:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0px;
}

.region-page-bottom .block {
	float: left;
	width: 33%;
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

#forum table {
}

#forum table thead {
	color: #bababa;
	border-bottom: 2px solid #bababa;
}

#forum table thead tr {
}

#forum table thead tr th {
	padding-bottom: 3px;
}

#forum table thead a {
	color: #bababa;
}

#forum table tbody {
}

#forum table tbody tr {
	background-color: #f4f4f4;
	background-image: -ms-linear-gradient(#f4f4f4, #ffffff);
background-image: -moz-linear-gradient(#f4f4f4, #ffffff);
background-image: -o-linear-gradient(#f4f4f4, #ffffff);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ffffff));
background-image: -webkit-linear-gradient(#f4f4f4, #ffffff);


background-image: linear-gradient(#f4f4f4, #ffffff);
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e3e3e3;
}

#forum table tbody tr td {
	vertical-align: middle;
	padding: 6px 0;
}

#forum table tbody tr td.posts,
#forum table tbody tr td.topics,
#forum table tbody tr td.replies {
	text-align: left;
}

#forum table tbody tr td.icon {
	text-align: center;
	padding-top: 12px;
}

#forum ul.links {
	text-align: right;
}

#forum ul.links a {
	background-color: #ffffff;
	border: none;
	background-image: url(../images/add.png),
		-ms-linear-gradient(#ffffff, #f7f7f7);
	background-image: url(../images/add.png),
		-moz-linear-gradient(#ffffff, #f7f7f7);
	background-image: url(../images/add.png),
		-o-linear-gradient(#ffffff, #f7f7f7);
	background-image: url(../images/add.png),
		-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
	background-image: url(../images/add.png),
		-webkit-linear-gradient(#ffffff, #f7f7f7);
	background-image: url(../images/add.png);
	background-repeat: no-repeat;
	background-position: 3px 60%;
	padding: 3px 3px 3px 15px;
	-moz-box-shadow: 1px 1px 2px #d7d7d7;
	-o-box-shadow: 1px 1px 2px #d7d7d7;
	-webkit-box-shadow: 1px 1px 2px #d7d7d7;
	box-shadow: 1px 1px 2px #d7d7d7;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	color: #00a3f7;
	font-size: 11px;
	cursor: pointer;
}

#block-menu-secondary-links,
#block-menu-menu-ternary-links {
	border-left: 1px solid #EDEBE6;
	padding: 0 0 0 10px;
	margin: 0 0 0 -10px;
}