#main-wrapper {
	border-color: #252525;
	top: -40px;
	margin-bottom: -40px;
}

#content .section {
	padding: 0;
}

.node .content-wrapper {
	position: relative;
	overflow: hidden;
	margin-top: -4px;
}

.node .content-wrapper .content-main {
	float: left;
	background-color: #05678c;
	width: 992px;
}

.node .content-wrapper .getting-started-wrapper {
	float: left;
	background-color: #00425b;
	position: relative;
	left: 672px;
}

.node .content {
	margin: 0;
	position: relative;
	left: -672px;
	float: left;
	width: 672px;
}

.node .content .inner {
	margin: 0;
	padding: 20px 20px 40px 20px;
	width: 632px;
	color: #ffffff;
}

.node .content .inner h1,
.node .content .inner h2,
.node .content .inner h3,
.node .content .inner h4,
.node .content .inner h5,
.node .content .inner h6 {
	font-size: 24px;
	font-family: "Georgia", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 0 1em 0;
}

.node .content .inner p {
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
}

.node .content .inner a.learn-more {
	background-color: #1c96c4;
	background-image: -ms-linear-gradient(#1c96c4, #187fa6);
	background-image: -moz-linear-gradient(#1c96c4, #187fa6);
	background-image: -o-linear-gradient(#1c96c4, #187fa6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1c96c4), to(#187fa6));
	background-image: -webkit-linear-gradient(#1c96c4, #187fa6);
	background-image: linear-gradient(#1c96c4, #187fa6);
	-moz-box-shadow: 0px 1px 0px 1px #41a7ce inset;
	-o-box-shadow: 0px 1px 0px 1px #41a7ce inset;
	-webkit-box-shadow: 0px 1px 0px 1px #41a7ce inset;
	box-shadow: 0px 1px 0px 1px #41a7ce inset;
}

.node .content .inner a.learn-more:hover {
	background-color: #22acdf;
	background-image: -ms-linear-gradient(#22acdf, #1c96c4);
	background-image: -moz-linear-gradient(#22acdf, #1c96c4);
	background-image: -o-linear-gradient(#22acdf, #1c96c4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22acdf), to(#1c96c4));
	background-image: -webkit-linear-gradient(#22acdf, #1c96c4);
	background-image: linear-gradient(#22acdf, #1c96c4);
}

.node .getting-started {
	margin: 0;
	float: left;
	position: relative;
	left: -672px;
	width: 320px;
}

.node .getting-started .inner {
	color: #ffffff;
	padding: 20px 20px 40px 20px;
	text-align: center;
}

.node .getting-started .inner p {
	text-align: left;
	margin: 0 0 40px 0;
}

.node .getting-started .inner a.button {
	padding: 9px 18px;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
	border-color: #e3e3e3;
}

ul.tabs {
	border-radius: 4px;
	margin-top: 12px;
}

ul.tabs li:first-child a {
	border-radius: 4px 0 0 4px;
}

div.messages {
	margin: 0;
}

/*
.subnavigation {
	
}

.subnavigation h3 {
	color: #ffffff;
	padding: 0 0.5em;
	margin: 0;
	line-height: 1em;
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000000;
	text-align: center;
	word-spacing: -1px;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
	border-color: #e3e3e3;
}

ul.tabs {
	border-radius: 4px;
}

ul.tabs li:first-child a {
	border-radius: 4px 0 0 4px;
}

#main-topper {
	background-color: #EBEBEB;
	background-image: -ms-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -moz-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -o-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EBEBEB));
	background-image: -webkit-linear-gradient(#FFFFFF, #EBEBEB);
	background-image: linear-gradient(#FFFFFF, #EBEBEB);
	border-bottom: 1px solid #ffffff;
}

.introduction-wrapper {
	padding: 25px;
	position: relative;
	overflow: hidden;
}

.introduction {
	float: left;
	font-size: 12px;
	line-height: 24px;
	text-align: justify;
	width: 565px;
}

.action {
	float: left;
	background-color: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 18px;
	margin: 24px 0 0;
	border: 1px solid #cacaca;
	width: 527px;
	overflow: hidden;
	position: relative;
	word-spacing: -1px;
	font-size: 12px;
}

.action span {
	font-weight: bold;
	float: left;
	padding: 6px 0;
}

.action a.button {
	float: right;
}

.front-image {
	float: right;
	width: 379px;
	text-align: right;
}

#front-wrapper {
	position: relative;
	background-color: #ffffff;
  border-color: #edebe6;
  border-style: solid;
  border-width: 0 1px 1px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 25px;
}

#front-wrapper h3 {
	color: #333333;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#front-wrapper h4 {
	color: #999999;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#front-wrapper .column-inner {
	padding: 0 10px;
}

#front-wrapper .column:first-child .column-inner {
	padding: 0 10px 0 0;
}

#front-wrapper .column:last-child .column-inner {
	padding: 0 0 0 10px;
}

#front-wrapper .column-header {
	padding-bottom: 12px;
	border-bottom: 1px solid #cccccc;
}

#front-wrapper .column-section {
	font-size: 12px;
	text-align: justify;
	-moz-border-image: url(../images/dot-border.png) 4 4 repeat;
	-o-border-image: url(../images/dot-border.png) 4 4 repeat;
	-webkit-border-image: url(../images/dot-border.png) 4 4 repeat;
	border-image: url(../images/dot-border.png) 4 4 repeat;
	border-width: 0 0 4px 0;
}

#front-wrapper .column-section:last-child {
	border: none;
	-moz-border-image: none;
	-o-border-image: none;
	-webkit-border-image: none;
	border-image: none;
}

a.go {
	font-weight: bold;
}

a.go:after {
	content: " \2192";
}

.credits {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #cccccc;
	text-align: center;
}

#front-wrapper .credits h3 {
	color: #999999;
}

.credits .picture {
	float: left;
	margin: 2%;
	width: 46%;
}

#front-wrapper .item-list ul li {
	padding: 4px 0;
}
*/