/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */


div.tabs {
  margin: 0 0 0 0;
}

ul.primary {
  background-color: #f7f7f7;
	border-color: #e3e3e3;
	border-style: solid;
	border-width: 1px;
  margin: 0;
  padding: 0; /* LTR */
  list-style: none;
  white-space: nowrap;
  line-height: normal;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
	height: 36px;
	margin: 0;
	padding: 9px 9px 0;
	border-width: 0;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 0 1px 0 0;
}

ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
}

ul.primary li a:hover,
ul.primary li a:focus {
  background-color: #ffffff;
}

ul.primary li a:hover .tab,
ul.primary li a:focus .tab {
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  border-color: #e3e3e3 #e3e3e3 #ffffff;
  border-style: solid;
  border-width: 0 1px 1px 0;
  color: #b4b4b4;
  background-color: #ffffff;
  margin-bottom: -1px;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab,
ul.primary li.active a:focus .tab {
}

ul.secondary {
  background-color: #ffffff;
	border-color: #e3e3e3;
	border-style: solid;
	border-width: 0 1px 1px;
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  background-color: #f7f7f7;
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #e3e3e3;
  text-decoration: none;
  color: #777;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover,
ul.secondary a:focus {
  border: 1px solid #c0c0c0;
	color: #3E3E3E;
  background-color: #ffffff;
}

ul.secondary a.active,
ul.secondary a.active:hover,
ul.secondary a.active:focus {
  border: 1px solid #c0c0c0;
	color: #3E3E3E;
  background-color: #ffffff;
}
