.teaser-comments-container {
	margin: 0 0 0 1em;
	padding: 0;
}

.teaser-comment,
a.teaser-comment-show-hidden,
div.teaser-comment-form-wrapper {
	border-width: 1px;
	border-color: #e3e3e3;
	border-style: solid;
	background: #f4f4f4;
	background-image: -moz-linear-gradient(#f4f4f4, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ffffff));
	background-image: -webkit-linear-gradient(#f4f4f4, #ffffff);
	margin: 0.25em 0 0;
	padding: 3px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	position: relative;
}

.teaser-comment {
	padding: 0.5em 0.25em 1em 0.5em;
}

.teaser-comments div.indented {
	margin-left: 1em;
}

a.teaser-comment-show-hidden,
div.teaser-comment-form {
	margin: 0.25em 0;
	border-width: 1px;
}

.teaser-comment div.meta {
	color: #a3a3a3;
	position: absolute;
	right: 0.25em;
	top: 0.5em;
}

.teaser-comment .links {
	margin-right: 1em;
}

.teaser-comment .comment_delete,
.teaser-comment .comment_edit,
.teaser-comment .comment_reply {
	padding: 0;
	margin: 0;
}

.teaser-comment .comment_delete a,
.teaser-comment .comment_edit a,
.teaser-comment .comment_reply a {
	color: transparent;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.teaser-comment .comment_delete a {
	background-image: url(../images/delete.png );
}

.teaser-comment .comment_edit a {
	background-image: url(../images/edit.png );
}

.teaser-comment .comment_reply a {
	background-image: url(../images/reply.png );
}

.teaser-comments-container .box h2 {
	display: none;
}

a.teaser-comment-write-comment-cancel,
a.teaser-comment-edit-comment-cancel {
	display: inline-block;
	font-size: 11px;
	line-height: 17px;
	text-align: center;
	border: none;
	padding: 6px 9px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: -1px -1px 1px #3e3e3e;
	background-color: #3199f2;
	background-image: -moz-linear-gradient(#36a1fc, #2b91e7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#36a1fc), to(#2b91e7));
	background-image: -webkit-linear-gradient(#36a1fc, #2b91e7);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: default;
	white-space: pre;
}