.profile .picture {
	float: left;
}

.profile-item {
	font-size: 1.1em;
	line-height: 2em;
	border-bottom: 1px dashed #333333;
	margin-left: 220px;
	padding: 6px 0;
}

.profile-item:last-child {
	border: none;
}

.profile-name {
	font-size: 1.5em;
	font-weight: bold;
}

.country,
.institution {
	font-weight: bold;
	padding: 0 3px;
}

.country {
	color: #888888;
}

.country:after {
	content: ":";
}