.teaser-comments-container {
	margin: 1em 2.5em;
	padding: 0;
}

.teaser-comments {
}

.teaser-comment,
a.teaser-comment-show-hidden,
div.teaser-comment-form-wrapper {
	border-width: 1px;
	border-color: #bebebe;
	border-style: solid;
	background: #e6f3f6;
	background: -moz-linear-gradient(top center, #f2f9fb, #f2f9fb, #d9edf2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f9fb), color-stop(0.33, #f2f9fb), color-stop(0.67, #d9edf2));
	margin-bottom: 3px;
	padding: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: relative;
}

a.teaser-comment-show-hidden {
	display: block;
	text-align: center;
}

span.busy {
	background-position: 0 -20px;
	position: absolute;
	top: 50%;
	right: 7px;
	width: 15px;
	height: 15px;
	margin-top: -7px;
}

div.teaser-comment-form-wrapper div.teaser-comment-form {
	padding: 0 2.5%;
}

div.teaser-comment-form-wrapper div.teaser-comment-form div.buttons,
div.teaser-comment-reply-form form div.buttons,
div.teaser-comment-edit-form form div.buttons {
	text-align: right;
	margin: 0 2.5%;
}

div.teaser-comment-form-wrapper a.teaser-comment-write-comment {
	display: block;
	text-align: center;
}

div.teaser-comment-form-wrapper div.teaser-comment-form,
div.teaser-comment-reply-form,
div.teaser-comment-edit-form {
	display: none;
}

.teaser-comment a.teaser-comment-delete,
.teaser-comment a.teaser-comment-edit,
.teaser-comment a.teaser-comment-reply {
	display: none;
}

.teaser-comment:hover a.teaser-comment-delete,
.teaser-comment:hover a.teaser-comment-edit,
.teaser-comment:hover a.teaser-comment-reply {
	display: block;
}

.teaser-comment div.author {
}

.teaser-comment div.author a,
.teaser-comment div.author img,
.teaser-comment div.author span {
	vertical-align: middle;
}

.teaser-comment p {
	margin: 0.5em 0.1em;
}

.teaser-comment div.meta {
	color: #7a7a7a;
}

.teaser-comment-form textarea,
.teaser-comment-reply-form textarea {
	line-height: 1.2em;
	border: 1px solid #cccccc;
}

.teaser-comment .links {
	margin: 0;
	position: absolute;
	bottom: 0px;
	right: 0px;
	opacity: 0;
	-moz-transition: opacity 250ms ease-in-out 50ms;
	-webkit-transition: opacity 250ms ease-in-out 50ms;
	-o-transition: opacity 250ms ease-in-out 50ms;
}

.teaser-comment:hover .links {
	opacity: 1;
}

.teaser-comment .links a {
	opacity: 0.50;
	-moz-transition: opacity 250ms ease-in-out 0ms;
	-webkit-transition: opacity 250ms ease-in-out 0ms;
	-o-transition: opacity 250ms ease-in-out 0ms;
}

.teaser-comment .links a:hover {
	opacity: 1;
}

.teaser-comment.replying .links,
.teaser-comment.editing .links {
	display: none;
}

.teaser-comment.hidden {
	display: none;
}